name: Auto Deploy to cPanel (FTP)

on:
  push:
    branches:
      - main

jobs:
  web-deploy:
    name: Deploy
    runs-on: ubuntu-latest
    steps:
      - name: Get latest code
        uses: actions/checkout@v4

      - name: Sync files
        uses: SamKirkland/FTP-Deploy-Action@v4.3.5
        with:
          server: ${{ secrets.FTP_SERVER }}
          username: ${{ secrets.FTP_USERNAME }}
          password: ${{ secrets.FTP_PASSWORD }}
          server-dir: /public_html/medisa/
          exclude: |
            **/.git*
            **/.git*/**
            **/.github*/**
            **/docker/**
            **/data/**
            README.md
            DEPLOY-KARMOTORS.md
